.inline_filter_wrapper {
  display: flex;
  flex-direction: column;
  padding: 8px 0;
}

.filter_chips {
  margin-top: 12px;
  display: flex;
  width: 100%;
  overflow-x: auto;
  gap: 12px;
}

.filter_chips::-webkit-scrollbar {
  display: none;
}

.see_all_filter {
  margin: 24px 16px 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 32px;
}
