.wishlist_wrapper {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  background-color: #444347;
  z-index: 1;
}

.is_added_wishlist {
  background-color: rgba(18, 218, 168, 0.12);
}
