.filter_chips_wrapper {
  display: flex;
  width: fit-content;
  padding: 5px 8px;
  border-radius: 4px;
  border: 1px solid
    var(--dark-states-outline-opacity-040, rgba(146, 144, 148, 0.4));
  align-items: center;
  min-width: max-content;
  margin-right: 12px;
}
.filter_chips_wrapper_selected {
  border-radius: 4px;
  border: 1px solid
    var(--dark-states-primary-opacity-060, rgba(18, 218, 168, 0.6));
  background: var(--dark-states-primary-opacity-008, rgba(18, 218, 168, 0.08));
}
