.searchbar_wrapper {
  margin: 0 16px;
  height: 40px;
  border-radius: 4px;
  background-color: #c8c5ca;
  background: var(
    --dark-states-on-background-high-contrast-opacity-012,
    rgba(226, 226, 226, 0.12)
  );
  display: flex;
  align-items: center;
  padding: 0 12px;
  justify-content: space-between;
}

.search_text {
  display: flex;
  align-items: center;
}
