.chip_wrapper {
  display: flex;
  width: max-content;
  padding: 0 8px;
  border-radius: 4px;
  align-items: center;
  min-width: max-content;
  height: 32px;
  box-sizing: border-box;
  cursor: pointer;
}
