@font-face {
  font-family: "Proxima Nova";
  font-weight: 700;
  font-display: swap;
  src: url("fonts/ProximaNovaA-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Proxima Nova";
  font-weight: 400;
  font-display: swap;
  src: url("fonts/ProximaNovaA-Regular.woff2") format("woff2");
}

body {
  background: #212121;
  color: #efefef;
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  font-family: "Proxima Nova", sans-serif;
}
